<html>

<head>
<style type="text/css">
p.normal {font-style:normal}
p.italic {font-style:italic}
p.oblique {font-style:oblique}
</style>
</head>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">

    <div id="left"><body>
    <p class="italic">Final Project of ECS 251 - Team Gucci - Collaborative Text Editor</p>
    </body>
        <textarea id="editor" placeholder="Type something ..." oninput="inputChange();" onkeypress="keyPressDOC(event)" onkeydown="keyDownDOC(event)"></textarea>
        <textarea id="compiler"></textarea>

    </div>
    <div id="panel">
        <div id="legendBoard">
            <body><p class="oblique">Docs Options </p></body>
            <button type="button" onclick="share()">Share</button>
            <button type="button" onclick="save_doc()">Save</button>
            <button type="button" onclick="compileRun()">Run</button>
            <select id="selector">
                <option value="1">OTs-Algorithm</option>
                <option value="0">Doc-Algorithm</option>
                <option value="2">Myer's Diff</option>
            </select>
        </div>
        <div id="messageBoard"></div>
        <div id="inputBoard">
            <form>
                <textarea id="input" onkeyup="keyUpMSG(event)"></textarea>
                <input id="submit" type="submit">
            </form>
        </div>
    </div>
</div>
<script src="{{
  url_for('static', filename='script.js') }}"></script>
</body>
</html>
