<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
    <div id="left">
        <textarea id="editor" placeholder="Type something ..." onkeypress="keyPressDOC(event)" onkeydown="keyDownDOC(event)"></textarea>
        <textarea id="compiler"></textarea>

    </div>
    <div id="panel">
        <div id="legendBoard">
            <button type="button" onclick="share()">share</button>
            <button type="button" onclick="save_doc()">Save</button>
            <button type="button" onclick="compileRun()">Run</button>
            <select id="selector">
                <option value="1">new</option>
                <option value="0">old</option>
            </select>
        </div>
        <div id="messageBoard"></div>
        <div id="inputBoard">
            <form>
                <textarea id="input" onkeyup="keyUpMSG(event)"></textarea>
                <input id="submit" type="submit">
            </form>
        </div>
    </div>
</div>
<script src="{{
  url_for('static', filename='script.js') }}"></script>
</body>
</html>
