<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
    <textarea id="editor" placeholder="Type something ..." onkeyup="keyUpDOC(event)"></textarea>
    <div id="panel">
        <div id="legendBoard">
            <button type="button" onclick="share()">share</button>
            <button type="button" onclick="save_doc()">Save</button>
        </div>
        <div id="messageBoard"></div>
        <div id="inputBoard">
            <form>
                <textarea id="input" onkeyup="keyUpMSG(event)"></textarea>
                <input id="submit" type="submit">
            </form>
        </div>
    </div>
</div>
<script src="{{
  url_for('static', filename='script.js') }}"></script>
</body>
</html>