body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

#left {
    width: 70%;
    height: 100%;
}

#editor {
    height: 100%;
    width: 100%;
    resize: none;
}

#panel {
    width: 30%;
    height: 100%;
}

#legendBoard {
    height: 100px;
    background-color: aqua;
}

#inputBoard {
    margin: 0;
    height: 100px;
    position: relative;
    bottom: 0;
    background-color: burlywood;
}

#messageBoard {
    background-color: aquamarine;
}

#input {
    width: 70%;
    height: 100%;
    resize: none;
    float: left;
}
