body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

#left {
    width: 70%;
    height: 100%;
}

#editor {
    height: 100%;
    width: 100%;
    resize: none;
}

/*#compiler {*/
    /*height: 40%;*/
    /*width: 100%;*/
    /*color: white;*/
    /*resize: none;*/
    /*background-color: black;*/
/*}*/

#panel {
    width: 30%;
    height: 100%;
}

#legendBoard {
    height: 60px;
    background-color: #bbbbbb;
}

#inputBoard {
    margin: 0;
    height: 100px;
    position: relative;
    bottom: 0;
        background-color: #ffffcc;
}

#messageBoard {
    background-color:  #FFF700;
}

#input {
    width: 70%;
    height: 100%;
    resize: none;
    float: left;
}

#submit {
    margin: 0;
    width: 30%;
    height: 100%;
}